doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      // build:css styles/main.css
      link(rel='stylesheet', href='styles/normalize.css')
      link(rel='stylesheet', href='styles/style.css')
      // endbuild
    //block js
    //  script(src='http://localhost:35729/livereload.js')
  body
    block content
    
    block js
      // build:js(.tmp) scripts/templates.js
      script(src='scripts/compiled-templates.js')
      // endbuild

      // build:js(.tmp) scripts/main.js
      script(src='scripts/combined-scripts.js')
      // endbuild
