<!DOCTYPE html>
<html>
	<head>
		<title>A Mystery at the Mansion on the Mound</title>
		<link rel="stylesheet" href="styles/bootstrap.min.css" />
		<link rel="stylesheet" href="styles/main.css" />
	</head>
	<body ng-app="mansion">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">A Mystery at the Mansion on the Mound</a>
			</div>
		</nav>
		
		<div id="game" class="viewport"></div>
		
		<!-- <script src="lib/angular.min.js"></script> -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="lib/crafty-min.js"></script>
		<script src="game/game.js"></script>
		<script src="game/components.js"></script>
		<script src="game/tiles.js"></script>
		<script src="game/cards.js"></script>
		<script src="game/scenes.js"></script>
		<script src="app.js"></script>
	</body>
</html>
