<!DOCTYPE html>
<html>
	<head>
		<title>A Mystery at the Mansion on the Mound</title>
		<link rel="stylesheet" href="styles/bootstrap.min.css" />
		<link rel="stylesheet" href="styles/main.css" />
	</head>
	<body ng-app="mansion">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>
		</nav>
		
		<%-body -%>
		
		<!-- <script src="lib/angular.min.js"></script> -->
		<script src="lib/crafty-min.js"></script>
		<script src="game/game.js"></script>
		<script src="game/components.js"></script>
		<script src="game/scenes.js"></script>
		<script src="app.js"></script>
	</body>
</html>
